@model List<PokemonAPI.ViewModels.PokemonVM.BasicWithImage>

<style>
    .pokemonBlock {
        border: 1px solid #333;
        padding: 10px;
        margin: 5px;
    }
</style>

<div class="container p-10">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 p-0">
                <a href="@Url.Action("Details", "Pokemon", new { name = item.Name })">
                    <div class="pokemonBlock bg-@item.Types.Last().type.name">
                        <div>
                            <img src="@item.Image" />
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
