@model List<PokemonAPI.ViewModels.PokemonVM.BasicWithImage>

<style>
    .pokemonBlock {
        margin: 5px;
        text-align: center;
    }

    .pokemonBlock a {
        color: inherit;
    }

    .pokemonBlock:hover a {
        text-decoration: none;
    }
</style>

<div class="container p-10">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 p-0">
                <div class="pokemonBlock bg-@item.Types.Last().type.name">
                    <a href="@Url.Action("Details", "Pokemon", new { name = item.Name })">
                        <div>
                            <img src="@item.Image" />
                        </div>
                        <div style="padding-bottom: 10px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
