html, body {
    overflow: hidden;
    height: 100%;
}

#SideMenuContainer {
    max-width: calc(100% - 65px);
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 1000;
    background-color: white;
    overflow-y: auto;
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transition: width 0.5s;
}

#SideMenuContainer.open {
    width: 350px;
}

.SideMenuBlock, .SideMenuTopBlock {
    width: 100%;
    padding: 10px 20px;
    white-space: nowrap;
}

.SideMenuTopBlock {
    text-align: center;
    padding: 25px;
}

#bodyContainer {
    min-height: calc(100vh - 66px);
}

#PageContainer {
    display: flex;
    height: 100%;
}

#MainContainer {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#navigationMenuOverlay {
    background-color: white;
    transition: filter 0.5s;
}

#navigationMenuOverlay.open {
    filter: brightness(10%);
}

#footerPlaceholder {
    height: 60px;
}

.noclick {
    pointer-events: none;
}

.boxShadowBottom {
    -webkit-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.5);
}

#footerContainer {
    background-color: #2b73b9;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.white-bg {
    background-color: white;
}

.red-bg {
    background-color: crimson;
}

.white-border {
    border-color: white;
}

.navbar {
    border: 0px;
}

z-1000 {
    z-index: 1000;
}

.d-initial {
    display: initial;
}

.d-block {
    display: block;
}

.d-iblock {
    display: inline-block;
}

.ErrorBox {
    background-color: #f83138;
    color: white;
    display: block;
    width: 100%;
}

.ErrorBox:empty {
    padding: 0px;
    display: none;
}

.blue-border {
    border-color: #337ab7;
}

.black-border {
    border-color: #337ab7;
}

.br-3 {
    border-radius: 3px;
}

.br-10 {
    border-radius: 10px;
}

.btn-blue {
    background-color: #337ab7;
}

.noMargin {
    margin: 0;
}

.noMarginBottom {
    margin-bottom: 0px !important;
}

.p-10 {
    padding: 10px !important;
}

.hover {
    cursor: pointer;
}

.hover.grey-bg:hover {
    background-color: #CCC;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

a.i-text {
    color: inherit;
}

a.i-text:hover {
    color: inherit;
    text-decoration: none;
}

.animated-nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-nav-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-nav-icon span {
        background: blue;
    }

    .animated-nav-icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-nav-icon span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-nav-icon span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-nav-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-nav-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

.animated-nav-button {
    padding: 23px;
    border: 0;
    background-color: inherit;
    position: absolute;
    right: 0px;
}

.lightgrey-text {
    color: #CCC;
}

/*
    Types
*/

.bg-fire, .bg-Fire {
    background-color: #fd7d24;
    color: white;
}

.bg-water, .bg-Water {
    background-color: #4592c4;
    color: white;
}

.bg-grass, .bg-Grass {
    background-color: #9bcc50;
    color: black;
}

.bg-poison, .bg-Poison {
    background-color: #b97fc9;
    color: white;
}

.bg-bug, .bg-Bug {
    background-color: #729f3f;
    color: white;
}

.bg-electric, .bg-Electric {
    background-color: #eed535;
    color: black;
}

.bg-steel, .bg-Steel {
    background-color: #9eb7b8;
    color: black;
}

.bg-psychic, .bg-Psychic {
    background-color: #f366b9;
    color: black;
}

.bg-ice, .bg-Ice {
    background-color: #51c4e7;
    color: black;
}

.bg-flying, .bg-Flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: black;
}

.bg-dark, .bg-Dark {
    background-color: #707070;
    color: white;
}

.bg-ground, .bg-Ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: black;
}

.bg-fighting, .bg-Fighting {
    background-color: #d56723;
    color: white;
}

.bg-ghost, .bg-Ghost {
    background-color: #7b62a3;
    color: white;
}

.bg-fairy, .bg-Fairy {
    background-color: #fdb9e9;
    color: black;
}

.bg-dragon, .bg-Dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: white;
}

.bg-rock, .bg-Rock {
    background-color: #a38c21;
    color: white;
}

.bg-normal, .bg-Normal {
    background-color: #a4acaf;
    color: black;
}

@media (max-width: 768px) {
    #BannerContainer {
        height: auto;
    }

    #BannerContainer .navbar {
        position: relative !important;
    }

    .navbar-collapse {
        position: absolute;
        background-color: black;
        width: 100%;
        margin-top: 1px;
    }

    .navbar {
        margin-bottom: 3px;
    }
}